---
Language: Cpp
BasedOnStyle: Google
#缩进宽度
IndentWidth: 2
# case标签是否缩进
IndentCaseLabels: true 
# 每行字符的限制，0表示没有限制 
ColumnLimit: 120
# 连续的空行保留几行
MaxEmptyLinesToKeep: 1
# 中括号两边空格 [] 
SpacesInSquareBrackets: true
# 小括号两边添加空格
SpacesInParentheses: true
# 等号两边的空格
SpaceBeforeAssignmentOperators: true
# 是否允许短if单行 If true, if (a) return; 可以放到同一行
AllowShortIfStatementsOnASingleLine: true
# 对齐连续的尾随的注释  
AlignTrailingComments: true
# 左对齐换行(使用反斜杠换行)的反斜杠 
AlignEscapedNewlinesLeft: true
# 连续的赋值时,对齐所有的等号
AlignConsecutiveAssignments: true
# 多行声明语句按照 = 对齐
AlignConsecutiveDeclarations: false
# 大括号使用的样式
BreakBeforeBraces: Allman
# 形参对齐方式
AlignAfterOpenBracket: Align
# 连续宏行对齐
AlignConsecutiveMacros: true

#AllowAllConstructorInitializersOnNextLine: false

# 指针的*的挨着哪边
DerivePointerAlignment: false
PointerAlignment: Right

# include头文件排序
SortIncludes: false

# 补齐遗失的空间名注释
FixNamespaceComments: true

SpaceBeforeCtorInitializerColon: true

# 循环迭代for后面是否有空格
SpaceBeforeRangeBasedForLoopColon: true